<!DOCTYPE html>
<html lang="en">

<head>
  <title>Twitch Chat Toxicity Predictor</title>
  <link rel="stylesheet" type="text/css"  href="/static/css/main.css">
</head>
<h1>
    Twitch Chat Classifier
</h1>
<body>
  <form action="/">
        <br>
        Chat string:
        <br>
        <input type="text" name="chat_in" value="{{x_input}}">

    <br>
    <!-- Submit button -->
    <input type="submit" value="Submit" method="get">



  </form>
  <h3>
    Input String: '{{ chat_in }}'
  </h3>
  <p>
      
  </p>
  <h2>
     Predictions:
  </h2>
  
  <script>
    var my_javascript_variable = <?php echo $_POST['mes'] ?>;
    console.log(my_javascript_variable)
  </script>
  <p>
    {{ my_javascript_variable}}
  </p>
  <p>

    {% for p in prediction %}
      <br>  {{p['name']}}:{{ 100*p['prob'] | round(1) }}% 
    {% endfor %}
  </p>

</body>

</html>
